.transaction-history {
  width: 100%;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 2rem;
}

th {
  padding: 30px 0;
  background-color: #37a38a;
}

td {
  border: 1px solid #ccc;
}
